/*=====================================
    RESET
=====================================*/

*{
    box-sizing:border-box;
}

/*=====================================
    CUERPO
=====================================*/

body{
    margin:0;
    font-family:'Segoe UI',Arial,sans-serif;
    background:#f1f5f9;
    display:flex;
    justify-content:center;
    padding:30px;
}

/*=====================================
    CONTENEDOR
=====================================*/

.container{
    width:100%;
    max-width:430px;
}

/*=====================================
    LOGO
=====================================*/

.logo{
    text-align:center;
    margin-bottom:20px;
}
.logo img{
    width:180px;
}

/*=====================================
    TARJETA
=====================================*/

.card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:
    0 10px 30px rgba(0,0,0,.12);
}

/*=====================================
    TITULOS
=====================================*/

h2{
    text-align:center;
    color:#1e293b;
}

/*=====================================
    CONTROLES
=====================================*/

input,
select,
textarea,
button{
    width:100%;
    padding:13px;
    margin-top:12px;
    border-radius:10px;
    font-size:16px;
}

input,
select,
textarea{
    border:1px solid #ddd;
}

textarea{
    height:100px;
    resize:none;
}

/*=====================================
    BOTONES
=====================================*/

.btn{
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    font-size:16px;
    color:white;
    cursor:pointer;
    transition:.2s;
}

.btn.azul{
    background:#0057B8;
}

.btn.azul:hover{
    background:#00489A;
}

.btn.azul:disabled{
    background:#6FA3E6;
    cursor:not-allowed;
}

.btn.verde{
    background:#16A34A;
}

.btn.verde:hover{
    background:#15803D;
}

.btn.verde:disabled{
    background:#7BC89B;
    cursor:not-allowed;
}

button:disabled{
    opacity:.7;
    cursor:not-allowed;
}

/*=====================================
    USUARIO ACTIVO
=====================================*/

.usuarioActivo{
    background:#DCFCE7;
    border-left:5px solid #16A34A;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
}

/*=====================================
    MENSAJE LOGIN
=====================================*/

.mensajeLogin{
    display:none;
    margin-top:15px;
    padding:12px;
    border-radius:8px;
    background:#FEE2E2;
    border:1px solid #EF4444;
    color:#B91C1C;
    font-size:14px;
    text-align:center;
}

/*=====================================
    VOLVER
=====================================*/

.volver{
    display:block;
    text-align:center;
    margin-top:20px;
    color:#0057B8;
    text-decoration:none;
}

.volver:hover{
    text-decoration:underline;
}

/* Fuerza a que el texto del input de usuario se dibuje visualmente en mayúsculas */
#usuario {
    text-transform: uppercase;
}
